body,
h1,
h3,
p {
  color: black;
  font-family: "Gentium Basic", serif;
}

a {
  color: black;
}

.uk-section {
  background-image: url(../../Assets/contact/this.png);
  background-position: center;
  background-size: cover;

  height: 1000px;
}
