body,
h1,
h2,
h3,
p {
  font-family: "Gentium Basic", serif;
}

img {
  border-radius: 15px;
}

#computerNav {
  display: block;
}

#mobileNav {
  display: none;
}

@media screen and (min-width: 550px) {
  #computerNav {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  #mobileNav {
    display: block;
    margin-bottom: 50px;
  }
  #computerNav {
    display: none;
  }
  #chopLogo {
    display: none;
  }
  #pmacLogo {
    position: left;
  }
}
