body,
h1,
h2,
.uk-navbar {
  font-family: "Gentium Basic", serif;
}
.uk-slideshow-items {
  opacity: 0.9;
}

.uk-subnav-divider {
  color: black;
}

#computerNav {
  display: block;
}

#mobileNav {
  display: none;
}

@media screen and (min-width: 550px) {
  #computerNav {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  #mobileNav {
    display: block;
    margin-bottom: 50px;
  }

  #computerNav {
    display: none;
  }
  #chopLogo {
    display: none;
  }
  #pmacLogo {
    position: left;
  }
}
